#page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: beige;
}
#page-header ul{
    display: flex;
    flex-direction: row;
    grid-gap: 1.5rem;
    list-style: none;
}
#page-header ul li a {
    text-decoration: none;
}
main{
    padding: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}